<div class="row my-2">
  <div class="col-12 col-md-6 py-3">
    <div class="row align-items-center">
      <div class="col-8">
        <h6>
          Compiladores
        </h6>
        <hr>
        <small>
          <ul>
            <li>
              Codigo-3, Diagrama de Transición, BNF, Conjuntos First, Parser
            </li>
            <li>
              Proyectos
            </li>
            <li>
              Preparación para Exámenes
            </li>
          </ul>
        </small>
      </div>
      <div class="col">
        <img src="assets/images/products/compilers-icon.png" width="100%">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 py-3 bg-camsof rounded-3 text-white">
    <div class="row align-items-center">
      <div class="col">
        <img src="assets/images/products/si-icon.png" width="100%">
      </div>
      <div class="col-8">
        <h6>
          Sistemas de Información I
        </h6>
        <hr>
        <ul>
          <li>
            Proyecto (Laravel)
          </li>
          <li>
            Documentación
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
