<div class="row my-2">
  <div class="col-12 col-md-6 py-3">
    <app-compi
      title="Compiladores"
      [servicios]="[
        'Codigo-3, Diagrama de Transición, BNF, Conjuntos First, Parser',
        'Proyectos',
        'Preparación para Exámenes'
      ]"
    >
    </app-compi>
  </div>
  <div class="col-12 col-md-6 py-3 bg-camsof rounded-3 text-white">
    <app-si1
      title="Sistemas de Información I"
      [servicios]="['Proyecto (Laravel)', 'Documentación']"
    ></app-si1>
  </div>
</div>
