<div class="row mb-2 ">
  <div class="col-12 col-md-6 py-3 bg-camsof rounded-3 text-white">
    <div class="row align-items-center">
      <div class="col-8">
        <h6>
          Programación en General
        </h6>
        <hr>
        <p>
          Java, C#, C++, Laravel, JavaScript, Typescript, Node.js, Angular, HTML, CSS, jQuery, Bootstrap, SQL
        </p>
      </div>
      <div class="col">
        <img src="assets/images/products/general-programming-icon.png" width="100%">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 py-3">
  </div>
</div>
