<div class="row my-2">
  <div class="col-12 col-md-6 py-3">
    <app-columna
      title="Programación II"
      [servicios]="prog2"
      imageUrl="assets/images/products/programming-ii-icon.png"
      [type]="true"    >
    </app-columna>
  </div>
  <div class="col-12 col-md-6 py-3 bg-camsof rounded-3 text-white">
    <app-columna
      title="Estructura de Datos I"
      [servicios]="ed1"
      imageUrl="assets/images/products/data-structures-i-icon.png"
      [type]="false"
    ></app-columna>
  </div>
</div>

