<div class="row my-2">
  <div class="col-12 col-md-6 py-3 bg-camsof rounded-3 text-white">
    <div class="row align-items-center">
      <div class="col-8">
        <h6>
          Estructura de datos II
        </h6>
        <hr>
        <ul>
          <li>
            Arboles, Grafos, Generics
          </li>
          <li>
            Proyectos
          </li>
          <li>
            Preparación para Exámenes
          </li>
        </ul>
      </div>
      <div class="col">
        <img src="assets/images/products/data-structures-ii-icon.png" width="100%">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 py-3">
    <div class="row align-items-center">
      <div class="col">
        <img src="assets/images/products/assembler-programming-icon.png" width="100%">
      </div>
      <div class="col-8">
        <h6>
          Programación Ensamblador
        </h6>
        <hr>
        <ul>
          <li>
            Registros, Memoria, Operaciones
          </li>
          <li>
            Preparación para Exámenes
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
