<div class="row my-2">
  <div class="col-12 col-md-6 py-3 bg-camsof rounded-3 text-white">
    <app-columna1
      title="Estructura de Datos II"
      [servicios]="ed2"
      imageUrl="assets/images/products/data-structures-ii-icon.png"
    ></app-columna1>
  </div>
  <div class="col-12 col-md-6 py-3">
    <app-columna2
      title="Programación Ensamblador"
      [servicios]="ensamblador"
      imageUrl="assets/images/products/assembler-programming-icon.png"
    ></app-columna2>
  </div>
</div>
