<div class="row align-items-center">
  <div *ngIf="type ; then texto; else imagen"></div>
  <div *ngIf="type ; then imagen; else texto"></div>
  <ng-template #texto>
    <div class="col-8">
      <h6>
        {{title}}
      </h6>
      <hr>
      <ul>
        <li *ngFor="let servicio of servicios">
          {{servicio}}
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #imagen>
    <div class="col">
      <img src="{{imageUrl}}" width="100%">
    </div>
  </ng-template>
</div>
