
<nav class="navbar navbar-expand-sm navbar-light bg-camsof p-0">
  <div class="container-fluid">
    <div class="row p-0">
      <a class="navbar-brand d-flex" href="index.html">
        <img src="assets/images/pp-circle.png" width="40rem" height="40rem" class="d-inline-block align-text-top my-auto">
        <div class="ms-2 my-auto fs-5">
          CambaSoft
        </div>
      </a>
    </div>
    <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            Contáctanos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            ¿Quiénes somos?
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"
            onclick="Calendly.showPopupWidget('https://calendly.com/cambasoft?background_color=ffffff&amp;text_color=000000&amp;primary_color=007a3d');return false;"
            href="#">
            Agendar una reunión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

